<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%.20(%thread)] %5level [%36.36logger:%line]\t: [%X{logkey:--}] %msg%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- ERROR Log -->
    <logger name="error.logger" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>